In [5]:
import pandas as pd 

data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]} 

df = pd.DataFrame(data) 

df

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [48]:
import pandas as pd 

data = {'Chips': ['Simba', 'Lays', 'Chicken'],
       'Chocolates': ['Cadbury', 'Tex', 'Chicken'],
       'Pies': ['Pepper','Steak', 'Chicken'],
       'Fruit': ['Pear', 'Apple', 'orange']
        'Veggies': ['spinach', 'cabbage']}

df = pd.DataFrame(data) 

df

SyntaxError: invalid syntax (<ipython-input-48-f3d9117d8ce0>, line 7)

In [61]:
import pandas as pd

data = [
        {'Food Item': "Chips",},
        {'Food Item': "Cooldrinks", 'Category': 10}
        {'Food Item': "Cooldrinks", 'Category': 10},
        ]

df1 = pd.DataFrame(data, index=['A001', 'A002', ''])

df1

       Food Item  Category
A001       Chips       NaN
A002  Cooldrinks      10.0

In [45]:
import pandas as pd 

df = pd.read_csv("Food_stock_inventory_list.csv")

df

,Item No.,Food Item,Category,Size,Unit Price,Stock Quantity,Stock Value
0,A001,Simba,chips,125g,20000,1,1
1,A002,Lays,chips,125g,3000,2,1
2,A003,Cadbury,Chocolates,Bay Area,8300,3,3
3,A004,Text,Chocolates,Hyderabad,3900,4,4